apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: demo-e2e
spec:
  source:
    repoURL: https://github.com/your-org/demo-e2e-platform
    path: charts
  destination:
    server: https://kubernetes.default.svc
    namespace: demo
  syncPolicy:
    automated:
      prune: true